<div class="row">
    <div class="col-2">
        <h1>SHOP GIÀY THỜI TRANG  <br> NAM NỮ CHÍNH HÃNG </h1>
        <p>Dạo bước trên đôi giày thể thao sành điệu của adidas. Lựa chọn trong số muôn ngàn màu sắc và kiểu dáng cá tính của các loại giày dép năng động dành cho nam, nữ và trẻ em.  <br>GIÀY ADIDAS, GIÀY MLB,
            GIÀY SNEAKER </p>
        <a href="" class="btn"> MUA NGAY  &#8594;</a>
    </div>
    <div class="col-2">
        <img src="images/image1.png">
    </div>
</div>
<!-- ------------- featured categorries ---------------- -->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="images/giay1.jpg">
            </div>
            <div class="col-3">
                <img src="images/giay2.jpg">
            </div>
            <div class="col-3">
                <img src="images/giay3.jpg">
            </div>

        </div>
    </div>

</div>
<!-- ------------- featured products ---------------- -->
<div class="small-container">
    <h2 class="title">Sản phẩm nổi bật </h2>
    <div class="row sp4">
        
    </div>
</div>
<!-- ------------ offer -------------- -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2"><img src="images/giay5.jpg" class="offer-img"> </div>
            <div class="col-2">
                <p>Dự đoán top 1 đôi giày Sneakers “hot trend” 2024 bạn nên sở hữu</p>
                
                <h1> NIKE AIR MAX </h1>
                <small>
                    Nike đã xác nhận sự tồn tại của Air Max 1 ’86 trong một sơ đồ OG khác – ‘Royal Blue’, đã bị leak sau Air Max Day năm nay. Những người hâm mộ Air Max 180 huyền thoại đang vui mừng vì Nike chuẩn bị hồi sinh hình bóng ở dạng OG, với các phối màu ‘Ultramarine’ và ‘Full 180’ đã được xác nhận sẽ quay trở lại. Cuối cùng dành cho dòng Air-injection là Air Sunder Max </small>
                <a href="" class="btn"> MUA NGAY &#8594;</a>
            </div>
        </div>
    </div>
</div>
<!-- ------------ testimonial -------------- -->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-qoute-lef"></i>
                <p>Phiên bản thứ tư của dòng giày chạy bộ Nike Zoom Fly đã đem lại nhiều điểm mạnh, từ trọng lượng nhẹ, khả năng bám đường tốt đến độ êm ái. Với phiên bản cải tiến của Nike Zoom Fly 5 trong ngách giày chạy bộ của Nike, hứa hẹn sẽ mang đến nhiều bất ngờ cho người trải nghiệm. Và liệu đây có phải là sự cải tiến tích cực đến từ Nike? Hãy cùng HappyRun tìm hiểu nhé! </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="images/user-1.png">
                <h3> HUONG GIANG </h3>
            </div>
            <div class="col-3">
                <i class="fa fa-qoute-lef"></i>
                <p>Lấy cảm hứng từ đôi giày tạo ra vô số kỷ lục trên các đường chạy marathon vaporfly , Zoom fly 3 được nike thiết kế như một bản rút gọn dùng trong tập luyện hàng ngày với những công nghệ tốt . Đệm react full đế giữa không những mang lại cảm giác êm ái mà còn cực kỳ bền bỉ. Miếng đệm carbon tại phần mũi giúp tối ưu lực đẩy , giúp bạn chinh phục chặng marathon một cách dễ dàng và nhanh chóng </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="images/user-2.png">
                <h3> DUY HAU</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-qoute-lef"></i>
                <p>Đế ngoài của giày chạy bộ Nike Zoom Fly 5 được thiết kế với nhiều lớp phủ cao su hơn so với các phiên bản trước, mang lại độ bền vượt trội và khả năng chống mài mòn đáng kể. Thiết kế phẳng của đế ngoài cũng góp phần tăng cường độ ổn định và khả năng kiểm soát khi chạy. </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div> 
                <img src="images/user-3.png">
                <h3> KIEU TRANG</h3>
            </div>
        </div>
    </div>
</div>
<!-- ------------------- brands --------------------- -->
<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="images/logo-1.jpg">
            </div>
            <div class="col-5">
                <img src="images/logo-2.jpg">
            </div>
            <div class="col-5">
                <img src="images/logo3.jpg">
            </div>
            <div class="col-5">
                <img src="images/logo4.jpg">
            </div>
            <div class="col-5">
                <img src="images/logo5.jpg">
            </div>
        </div>
    </div>
</div>