<h1>QUẢN LÝ KHÁCH HÀNG</h1>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="text-align: center;">Tên </th>
        <th scope="col" style="text-align: center;">Địa chỉ</th>
        <th scope="col" style="text-align: center;">Số điện thoại</th>
        <th scope="col" style="text-align: center;">Email</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center;">Trang</th>
        <td style="text-align: center;">Đà nẵng</td>
        <td  style="text-align: center;">89686546</th>
        <td style="text-align: center;">abc@gmail.com</td>
      </tr>
    </tbody>
  </table>