<h1>QUẢN LÝ SẢN PHẨM</h1>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="text-align: center;">ID</th>
        <th scope="col" style="text-align: center;">Name</th>
        <th scope="col"style="text-align: center;">Image</th>
        <th scope="col"style="text-align: center;">Price</th>
        <th scope="col"style="text-align: center;">Act</th>
      </tr>
    </thead>
    <tbody class="dssp">
      
    </tbody>
  </table>
  <button style="width: 100px;"><a href="/admin/themsp" style="text-decoration: none;">Nhập mới</a></button>
 