<form>
    <div class="form-group">
        <label for="">Tên sp</label>
        <input type="text" class="form-control" id="name"  placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="">Ảnh sp</label>
        <input type="file" class="form-control" id="iamge">
      </div>
      <div class="form-group">
        <label for="">Giá sp</label>
        <input type="text" class="form-control" id="price"  placeholder="Enter price">
      </div>
      <div class="form-group">
        <label for="">Mô tả sp</label>
        <input type="text" class="form-control" id="mota"  placeholder="Enter detail">
      </div>
           
      <button type="submit" class="btn btn-primary">Nhập</button> <button type="submit" class="btn btn-primary"><a href="/admin/qlsp" style="text-decoration: none; color: white; font-size: 16px;">Danh sách</a></button>
  </form>