<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="images/logo.png" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/sanpham">Sản phẩm</a>                        
                </li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Liên hệ</a></li>
            </ul>
            
        </nav>
        <a href="/cart"><img src="images/cart.png" width="30px" height="30px"></a>
        <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>   
</div>
<main id="app">

</main>
<!-- ------------footer----------- -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3> KIEU TRANG SNEAKERS</h3>
                <p>HỘ KINH DOANH BOUNTY SNEAKERS </p>
                <div class="app-logo">
                    <img src="images/play-store.png">
                    <img src="images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="images/logo-white.png">
                <p>HỆ THỐNG CỬA HÀNG <br>
                    Cơ sở 1: 137 - Nguyễn Thị Thập - Hoà Minh - Liên Chiểu
                    <br>
                    Hotline : 0786665444 & 0785499555
                    <br>
                    Cở sở 2 :204 -  Huy Tưởng - Thanh Khê - Đà Nẵng 
                    <br>
                    Hotline : 0785499555
                    <br>
                 Cấp ngày: 01/06/2019 - Nơi cấp: Hà Nội </p>
            </div>
            <div class="footer-col-3">
                <h3>HỖ TRỢ </h3>
                <ul>

                    <li>   Tài khoản </li>
                    <li>Cách chọn size giày</li>
                    <li>  Hướng dẫn mua hàng</li>
                    <li>  Tích điểm đổi quà</li>
                </ul>
            </div>
            <div class="footer-col-4">
                CHÍNH SÁCH

                <h3>  CHÍNH SÁCH</h3>
                <ul>
                    <li>Cam kết và bảo hành</li>
                    <li>Phương thức thanh toán</li>
                    <li>Phương thức thanh toán</li>
                    <li>Chính sách vận chuyển </li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">© Bản quyền thuộc về Authentic Shoes </p>
    </div>
</div>